*, *:after, *:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
	font-family: Alegreya Sans, sans-serif;
	color: #000;
}

body{
	background-color: #efefef;
}

.wrapper{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.content{
	padding: 0px 29px 0px 80px;
    height: 100%;
    display: flex;
}

.contentblock{
	display: flex;
	align-items: center;
}

.text h1{
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;	
}

.text p{
	color: #ffffff;
	font-size: 21px;
	font-weight: 400;	
}

.btn{
	background-color: #ffffff;
	color: #0f5a47;
	font-family: "Alegreya Sans - Extra Bold";
	font-size: 19px;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 50px;
    margin: 20px 0px 40px 0px;
    border-width: 0px;
    padding: 13px 25px 13px 25px;		
}

.btn:hover{
	opacity: 0.7;
	cursor: pointer;	
}

.pag{
    display: flex;
    justify-content: center;
    z-index: 5;
    position: absolute;
    height: 100vh;
    right: 30px;
    align-items: rigth;
    flex-direction: column;
}

.pag .page{
	background: url('/course1Result/img/ellipse.png') center center no-repeat;
	width: 6px;
    height: 6px;
	margin: 6px 0px;
    padding: 8px;
    cursor: pointer;	

}

.pag .page.active{
	border: solid 1px #fff;
	border-radius: 100%;
}	

/*----------------------fonts--------------------*/
@font-face {
	font-family: "Alegreya Sans - Black";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-Black.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Black Italic";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-BlackItalic.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Bold";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-Bold.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Bold Italic";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-BoldItalic.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Extra Bold";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-ExtraBold.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Extra Bold Italic";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Italic";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-Italic.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Light";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-Light.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Light Italic";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-LightItalic.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Medium";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-Medium.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Medium Italic";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-MediumItalic.ttf") format("truetype"); 
}


@font-face {
    font-family: "Alegreya Sans";
    src: local('@'), url("/course1Result/fonts/AlegreyaSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Alegreya Sans - Thin";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-Thin.ttf") format("truetype"); 
}

@font-face {
	font-family: "Alegreya Sans - Thin Italic";
	src: local('@'), url("/course1Result/fonts/AlegreyaSans-ThinItalic.ttf") format("truetype"); 
}