/*===perem===*/
$textColor: #ffffff;
$textColorOnWhite: #666666;
$backgroundColor: #61c4d9;

/*===functions===*/

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}




*, *:after, *:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
	
	font-family: Alegreya Sans, sans-serif;
	color: #000;
    outline: none;
}

li, ol{
	list-style-type: none;
}

/*===blocks===*/
html{
	font-size: 17px;

	@include desktop{
		font-size: 16px;		
	}
	@include tablets{
		font-size: 14px;		
	}
	@include phones{
		font-size: 12px;		
	}
}

body{
	font-size: 1rem;
	background-color: #efefef;
}


.wrapper{
	width: 100%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: auto;
}

section{
	position: relative;
    height: 100%;
    min-height: 650px;
}

/*
.content-left{
	padding: 0px 29px 0px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
*/

.content-center{
	
    height: 100%;
	display: flex;

}

.block-model{
	display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.flex-model{
	display: flex;
    justify-content: start;
    align-items: center;
}

.flex-jcenter{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	width: 100%;
	height: 100%;
}

.centered-container{
	margin: 0 auto;
	max-width: 940px;
	position: relative;
	z-index: 100;
	height: 100%;
}


/*===contents===*/

.text h1{
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
	
	@include phones{
		font-size: 48px;
		line-height: 40px;
	}
}

.text p{
	color: #ffffff;
	font-size: 21px;
	font-weight: 400;	

	@include phones{
		font-size: 18px;
		line-height: 40px;
	}
}

.header-h1, h2.header-h1{
	color: #0d0d0d;
	font-size: rem(48px);
	font-weight: 700;
	text-transform: uppercase;	
}

/*===elements===*/

.btn{
	background-color: #ffffff;
    color: #0f5a47;
    font-family: "Alegreya Sans - Extra Bold";
    font-size: rem(19px);
    font-weight: 400;
    text-transform: uppercase;
    border-radius: rem(50px);
    border-width: 0px;
    padding: rem(16px) rem(31px) rem(16px) rem(31px);
    margin: 0px;

	&:hover{
		opacity: 0.7;
		cursor: pointer;	
	}

	&--green{
		background-color: #0f5a47;
		color: #ffffff;
	}
}

/*
.pag-absolute{
	position: absolute;
    right: 0;
    width: rem(61px);
    height: 100vh;
}*/

.navigation{
    display: flex;
	position: fixed;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
	right: 40px;
	flex-direction: column;
	z-index: 999;

	@include tablets{
		display: none;
	}
}

.navigation__page{
	width: 6px;
    height: 6px;
	margin: 3px 0px;
    padding: 7px;
	cursor: pointer;
	display: block;
		

	&:after{
		content: '';
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #FF8C00;
		transform: translateX(-3px) translateY(-3px);
	}

	

}

.navigation__item{
	&.active .navigation__page, &:hover .navigation__page{
		border: solid 1px #FF8C00;
		border-radius: 50%;
	}
}




.hidden{
	overflow: hidden;
}

.thanks-window{
	width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
	position: fixed;
	background-color: #2f3234;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal{
	background-color: #fff;
	max-width: 300px;	
	height: min-content;
	width: 60%;
	padding: 30px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;

	.overlay__content{
		margin-bottom: 20px;
	}

}


.contacts {
	&__address {
	  font-size: 21px;
	  color: #010101;
	}
  
	&__link {
	  position: relative;
	  padding-left: 18px;
	  font-size: 24px;
	  color: #ffffff;
	  transition: 0.5s;
  
	  &:hover {
		color: darken(white, 10%);
  
		.contacts__link-icon {
		  fill: darken(white, 10%);
		}
	  }
  
	  &-icon {
		position: absolute;
		fill: #ffffff;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 12px;
		height: 11px;
		transition: 0.3s;
	  }
	}
  }

/*=====================================why===================================*/


/*=====================================chocco===================================*/


/*=====================================reviews===================================*/



/*=========================================howwork=====================================*/


/*

.sheet4	{
	background-color: #fff;
	width: 1100px;
	height: 810px;
	position: relative;	
}

.sheet5	{
	background-color: #f8faf9;
	width: 1100px;
	height: 658px;
	position: relative;		
}



.sheet7	{
	background-color: #f8faf9;
	width: 1100px;
	height: 864px;
	position: relative;			
}
*/