/*----------------------fonts--------------------*/
@font-face {
  font-family: "Alegreya Sans";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Black";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Black Italic";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Bold";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Bold Italic";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Extra Bold";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Extra Bold Italic";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Italic";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Light";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Light Italic";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Medium";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Medium Italic";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Thin";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya Sans - Thin Italic";
  src: local("@"), url("/course1Result/fonts/AlegreyaSans-ThinItalic.ttf") format("truetype"); }
