/*----------------------fonts--------------------*/
@each $fontName in ('', 'Black', 'Black Italic', 'Bold', 'Bold Italic', 'Extra Bold', 'Extra Bold Italic', 'Italic', 'Light', 'Light Italic', 'Medium', 'Medium Italic', 'Thin', 'Thin Italic'){
	@font-face {
		@if $fontName == '' {
			font-family: "Alegreya Sans";
			$fontName: str-replace($fontName, ' ', '');
			//src: local('@'), url("/fonts/AlegreyaSans.ttf") format("truetype"); 
			src: local('@'), url("/fonts/AlegreyaSans.woff") format("woff"), 
			     url("/fonts/AlegreyaSans.woff2") format("woff2"); 
		}@else{
			font-family: "Alegreya Sans - #{$fontName}";
			$fontName: str-replace($fontName, ' ', '');
			//src: local('@'), url("/fonts/AlegreyaSans-#{$fontName}.ttf") format("truetype"); 
			src: local('@'), url("/fonts/AlegreyaSans-#{$fontName}.woff") format("woff"), 
		         url("/fonts/AlegreyaSans-#{$fontName}.woff2") format("woff2"); 
		}
	}
} 