/*===perem===*/
$textColor: #ffffff;
$textColorOnWhite: #666666;
$backgroundColor: #61c4d9;

/*===functions===*/

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/*===blocks===*/

.wrapper{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.content-left{
	padding: 0px 29px 0px 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-center{
	padding: 0px 80px 0px 80px; 
    height: 100%;
    display: flex;
}

.block-model{
	display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.flex-model{
	display: flex;
    justify-content: start;
    align-items: center;
}

.flex-jcenter{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.contentside1100{
	margin: 0 auto;
	max-width: 1100px;
	position: relative;
	z-index: 10;
}


/*===contents===*/

.text h1{
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;	
}

.text p{
	color: #ffffff;
	font-size: 21px;
	font-weight: 400;	
}

.header-h1{
	color: #0d0d0d;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;	
}

/*===elements===*/

.btn{
	background-color: #ffffff;
    color: #0f5a47;
    font-family: "Alegreya Sans - Extra Bold";
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 50px;
    border-width: 0px;
    padding: 16px 31px 16px 31px;
    margin: 0px;

	&:hover{
		opacity: 0.7;
		cursor: pointer;	
	}

}

/*
.pag-absolute{
	position: absolute;
    right: 0;
    width: 61px;
    height: 100vh;
}*/

.navigation{
    display: flex;
    justify-content: center;
    z-index: 5;
	position: fixed;
	right: 40px;
    height: 100vh;
    flex-direction: column;
    margin-top: -31px;
}

.navigation__page{
	/*background: url('../img/ellipse.png') center center no-repeat;*/
	width: 6px;
    height: 6px;
	margin: 3px 0px;
    padding: 7px;
	cursor: pointer;
	display: block;
		

	&:after{
		content: '';
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #fff;
		transform: translateX(-3px) translateY(-3px);
	}

	&.navigation__active{
		border: solid 1px #fff;
		border-radius: 50%;
	}	

}









/*=====================================why===================================*/


/*=====================================chocco===================================*/


/*=====================================reviews===================================*/



/*=========================================howwork=====================================*/


/*

.sheet4	{
	background-color: #fff;
	width: 1100px;
	height: 810px;
	position: relative;	
}

.sheet5	{
	background-color: #f8faf9;
	width: 1100px;
	height: 658px;
	position: relative;		
}



.sheet7	{
	background-color: #f8faf9;
	width: 1100px;
	height: 864px;
	position: relative;			
}
*/

