@charset "UTF-8";
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  /* добавим плавность переходов для всех элементов страницы*/
  font-family: Alegreya Sans, sans-serif;
  color: #000;
  outline: none; }

li, ol {
  list-style-type: none; }

body {
  background-color: #efefef; }

/*===perem===*/
/*===functions===*/
/*===blocks===*/
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

/*
.content-left{
	padding: 0px 29px 0px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
*/
.content-center {
  /*padding: 0px 80px 0px 80px; */
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.block-model {
  display: block;
  height: 100%;
  position: relative;
  width: 100%; }

.flex-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-jcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.centered-container {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  z-index: 10;
  height: 100%; }

/*===contents===*/
.text h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase; }

.text p {
  color: #ffffff;
  font-size: 21px;
  font-weight: 400; }

.header-h1 {
  color: #0d0d0d;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase; }

/*===elements===*/
.btn {
  background-color: #ffffff;
  color: #0f5a47;
  font-family: "Alegreya Sans - Extra Bold";
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 50px;
  border-width: 0px;
  padding: 16px 31px 16px 31px;
  margin: 0px; }
  .btn:hover {
    opacity: 0.7;
    cursor: pointer; }

/*
.pag-absolute{
	position: absolute;
    right: 0;
    width: 61px;
    height: 100vh;
}*/
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  right: 40px;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -31px; }

.navigation__page {
  /*background: url('../img/ellipse.png') center center no-repeat;*/
  width: 6px;
  height: 6px;
  margin: 3px 0px;
  padding: 7px;
  cursor: pointer;
  display: block; }
  .navigation__page:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transform: translateX(-3px) translateY(-3px);
    -ms-transform: translateX(-3px) translateY(-3px);
    transform: translateX(-3px) translateY(-3px); }
  .navigation__page.navigation__active {
    border: solid 1px #fff;
    border-radius: 50%; }

/*=====================================why===================================*/
/*=====================================chocco===================================*/
/*=====================================reviews===================================*/
/*=========================================howwork=====================================*/
/*

.sheet4	{
	background-color: #fff;
	width: 1100px;
	height: 810px;
	position: relative;	
}

.sheet5	{
	background-color: #f8faf9;
	width: 1100px;
	height: 658px;
	position: relative;		
}



.sheet7	{
	background-color: #f8faf9;
	width: 1100px;
	height: 864px;
	position: relative;			
}
*/
/*----------------------fonts--------------------*/
@font-face {
  font-family: "Alegreya Sans";
  src: local("@"), url("../fonts/AlegreyaSans.woff") format("woff"), url("../fonts/AlegreyaSans.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Black";
  src: local("@"), url("../fonts/AlegreyaSans-Black.woff") format("woff"), url("../fonts/AlegreyaSans-Black.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Black Italic";
  src: local("@"), url("../fonts/AlegreyaSans-BlackItalic.woff") format("woff"), url("../fonts/AlegreyaSans-BlackItalic.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Bold";
  src: local("@"), url("../fonts/AlegreyaSans-Bold.woff") format("woff"), url("../fonts/AlegreyaSans-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Bold Italic";
  src: local("@"), url("../fonts/AlegreyaSans-BoldItalic.woff") format("woff"), url("../fonts/AlegreyaSans-BoldItalic.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Extra Bold";
  src: local("@"), url("../fonts/AlegreyaSans-ExtraBold.woff") format("woff"), url("../fonts/AlegreyaSans-ExtraBold.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Extra Bold Italic";
  src: local("@"), url("../fonts/AlegreyaSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/AlegreyaSans-ExtraBoldItalic.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Italic";
  src: local("@"), url("../fonts/AlegreyaSans-Italic.woff") format("woff"), url("../fonts/AlegreyaSans-Italic.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Light";
  src: local("@"), url("../fonts/AlegreyaSans-Light.woff") format("woff"), url("../fonts/AlegreyaSans-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Light Italic";
  src: local("@"), url("../fonts/AlegreyaSans-LightItalic.woff") format("woff"), url("../fonts/AlegreyaSans-LightItalic.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Medium";
  src: local("@"), url("../fonts/AlegreyaSans-Medium.woff") format("woff"), url("../fonts/AlegreyaSans-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Medium Italic";
  src: local("@"), url("../fonts/AlegreyaSans-MediumItalic.woff") format("woff"), url("../fonts/AlegreyaSans-MediumItalic.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Thin";
  src: local("@"), url("../fonts/AlegreyaSans-Thin.woff") format("woff"), url("../fonts/AlegreyaSans-Thin.woff2") format("woff2"); }

@font-face {
  font-family: "Alegreya Sans - Thin Italic";
  src: local("@"), url("../fonts/AlegreyaSans-ThinItalic.woff") format("woff"), url("../fonts/AlegreyaSans-ThinItalic.woff2") format("woff2"); }

.sheet-first {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  /*height: 650px;*/
  background-color: #61c4d9;
  background: url("../img/uzor.png") #61c4d9 center right no-repeat;
  position: relative; }

.sheet-first__header {
  /*background-color: green;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  /*position: absolute;*/
  -ms-flex-item-align: start;
  align-self: start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  width: 100%; }

.sheet-first__logo {
  width: 53px;
  height: 38px;
  color: #ffffff;
  font-family: "Museo Sans Cyrl -500";
  font-size: 24px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  cursor: pointer; }

.sheet-first__logo-img {
  width: 100%;
  cursor: pointer; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__option:nth-child(1n+2) {
  margin-left: 20px; }

.menu__link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none; }
  .menu__link:hover {
    color: #ffffff;
    text-decoration: underline; }

.sheet-first__menu {
  margin-left: 45px; }

.sheet-first__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sheet-first__number-phone {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-right: 51px;
  text-decoration: none;
  display: inline-block; }
  .sheet-first__number-phone:before {
    content: '';
    background: url("../img/icon_phone.png") center center no-repeat;
    width: 12px;
    height: 11px;
    margin-right: 6px;
    display: inline-block; }

.contentblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.contentblock__column-left, .contentblock__column-right {
  width: 50%;
  padding-bottom: 60px; }

.contentblock__slide-pic-block {
  max-width: 503px; }
  .contentblock__slide-pic-block .contentblock__slide-pic {
    width: 100%; }

.sheet-first .contentblock__column-left .text {
  padding-top: 23px; }

.sheet-first .contentblock__column-left p {
  margin-top: 5px;
  width: 360px; }

.sheet-first__footer {
  position: absolute;
  bottom: 44px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start; }

.sheet-first__natural, .sheet-first__delivery, .sheet-first__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 178px; }

.sheet-first__text-natural, .sheet-first__text-delivery, .sheet-first__text-figure {
  width: 75px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 30px;
  /*через жопу сделано выравнивание блоков относительно друг друга, sheet-first__footer.nth-child(1n+2) почему то не сработал*/ }

.sheet-first__icon-natural {
  background: url("../img/icon_natural.png") center center no-repeat;
  width: 44px;
  height: 41px;
  display: block;
  margin-right: 8px; }

.sheet-first__icon-delivery {
  background: url("../img/icon_delivery.png") center center no-repeat;
  width: 50px;
  height: 40px;
  display: block;
  margin-right: 8px; }

.sheet-first__icon-figure {
  background: url("../img/icon_figure.png") center center no-repeat;
  width: 42px;
  height: 42px;
  display: block;
  margin-right: 8px; }

.sheet-first__decor1-block {
  display: block;
  position: absolute;
  left: 40px;
  bottom: -50px;
  z-index: 1;
  max-width: 52px; }
  .sheet-first__decor1-block .sheet-first__decor1-img {
    width: 100%; }

.sheet-first__decor2-block {
  display: block;
  position: absolute;
  right: 15px;
  width: auto;
  bottom: -50px;
  z-index: 1;
  max-width: 428px; }
  .sheet-first__decor2-block .sheet-first__decor2-img {
    width: 100%; }

.sheet-first__decor3-block {
  display: inline-block;
  width: auto;
  position: absolute;
  right: 90px;
  bottom: -40px;
  z-index: 1;
  max-width: 387px; }
  .sheet-first__decor3-block .sheet-first__decor3-img {
    width: 100%; }

.sheet-first .btn {
  padding: 16px 31px 16px 31px;
  margin: 34px 0px 40px 0px; }

.sheet-why {
  background-color: #fff;
  width: 100%;
  min-height: 697px;
  position: relative;
  height: 100vh; }

.sheet-why__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 100%;
  /* height: 100px; */
  margin-bottom: 50px; }

.sheet-why__iconblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  /*height: 50%;*/
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  /*position: absolute;*/
  /*bottom: 0px;*/
  /*margin-bottom: 20px;*/ }
  .sheet-why__iconblock > div:nth-of-type(1n+2) {
    width: 33%; }
    .sheet-why__iconblock > div:nth-of-type(1n+2):before {
      content: '';
      background: url("../img/t3.png") center center no-repeat;
      display: block;
      width: 67px;
      height: 21px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 67px;
      flex: 0 0 67px;
      -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
      margin-top: 50px; }
  .sheet-why__iconblock > div:first-child {
    width: calc(33% - 67px); }

.sheet-why__iconblock:first-of-type {
  width: calc(33% - 67px) !important; }

.sheet-why__text-desc {
  color: #666666;
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  max-width: 450px;
  text-align: center; }

.sheet-why__icon {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  margin: 0 auto; }

.sheet-why__useful-icon {
  background: url("../img/icon_useful.png") #f2f5f4 center center no-repeat; }

.sheet-why__tasty-icon {
  background: url("../img/icon_tasty.png") #f2f5f4 center center no-repeat; }

.sheet-why__nutritional-icon {
  background: url("../img/icon_nutritional.png") #f2f5f4 center center no-repeat; }

.sheet-why .title {
  text-align: center;
  color: #000000;
  font-size: 27px;
  font-weight: 700;
  margin-top: 25px; }

.sheet-why .text {
  text-align: center;
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  margin-top: 25px; }

.sheet-why__decor1-block {
  position: absolute;
  bottom: 150px;
  left: 0px;
  width: auto;
  max-width: 191px; }
  .sheet-why__decor1-block .sheet-why__decor1 {
    width: 100%; }

.sheet-why__decor2-block {
  position: absolute;
  z-index: 2;
  bottom: -110px;
  left: 0px;
  max-width: 161px; }
  .sheet-why__decor2-block .sheet-why__decor2 {
    width: 100%; }

.sheet-chocco {
  width: 100%;
  background-color: #f8faf9;
  background-color: #f8faf9;
  min-height: 994px;
  height: 100vh; }

.sheet-reviews {
  width: 100%;
  height: 100vh;
  min-height: 805px;
  position: relative;
  background-color: #fff;
  background-image: url("../img/reviews-decor3.png");
  background-position: top 20px right;
  background-repeat: no-repeat; }

.sheet-reviews__decor1-block {
  position: absolute;
  bottom: -200px;
  left: 0px;
  z-index: 10;
  width: 134px;
  max-width: 134px; }
  .sheet-reviews__decor1-block .sheet-reviews__decor1 {
    widows: 100%; }

.sheet-reviews__decor2-block {
  position: absolute;
  bottom: -125px;
  left: 0px;
  z-index: 11;
  width: 154px;
  max-width: 154px; }
  .sheet-reviews__decor2-block .sheet-reviews__decor2 {
    width: 100%; }

.sheet-reviews__review {
  margin-top: 50px;
  padding: 40px 140px 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/reviews-pict.png") #f8faf9 right top no-repeat;
  position: relative; }

.sheet-reviews__content {
  padding: 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.sheet-reviews__title {
  color: #666666;
  font-size: 30px;
  font-weight: 500; }

.sheet-reviews__text {
  margin-top: 30px;
  color: #666666;
  font-size: 18px;
  font-weight: 400; }

.sheet-reviews__name {
  margin-top: 40px;
  color: #666666;
  font-size: 18px;
  font-weight: 500; }

.sheet-reviews__peoples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px; }

.sheet-reviews__people {
  margin: 0px 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 6px #fff;
  box-shadow: 0px 0px 0px 6px #fff;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  width: 94px;
  max-width: 94px; }
  .sheet-reviews__people .sheet-reviews__people-icon {
    width: 100%; }

.sheet-reviews__active, .sheet-reviews__people:hover {
  background-color: #0f5a47;
  -webkit-box-shadow: 0px 0px 0px 6px #0f5a47;
  box-shadow: 0px 0px 0px 6px #0f5a47;
  cursor: pointer; }

.sheet-reviews__circle {
  position: absolute;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  top: -60px;
  right: calc(50% - 50px);
  border-radius: 50%; }

.sheet-reviews__photo-block {
  max-width: 254px;
  width: 254px;
  height: 260px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 254px;
  flex: 0 1 254px; }
  .sheet-reviews__photo-block .sheet-reviews__photo {
    width: 100%;
    height: 100%; }

.sheet-howwork {
  background-color: #f8faf9;
  height: 100vh;
  min-height: 864px;
  width: 100%; }
