.sheet-first{
	width: 100%;
	height: 100vh;
	min-height: 650px;
	/*height: 650px;*/
	background-color: $backgroundColor;
	background: url('../img/sheet-wirst-decor.png') $backgroundColor center right no-repeat;
	position: relative;
}

.sheet-first__header {
	/*background-color: green;*/
	display: flex; 
	padding-top: 25px;
	position: absolute;
	top: 0;
    align-self: start;
    justify-content: start;
	width: 100%;
}


.sheet-first__logo{
	width: 53px;
    height: 38px;
	color: $textColor;
	font-family: "Museo Sans Cyrl -500";
	font-size: 24px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.sheet-first__logo-img{
	width: 100%;
	max-width: 100%;
	cursor: pointer;
}

.menu{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.menu__option:nth-child(1n+2){
	margin-left: 20px;
}

.menu__link{
	color: $textColor;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-decoration: none;

	&:hover{
		color: $textColor;
		text-decoration: underline;
	}

}

.sheet-first__menu{
	margin-left: 45px;
}



.sheet-first__phone{
	display: flex;
	margin-left: auto;
	justify-content: flex-start;
	align-items: center;
	margin-right: 51px;
}


.sheet-first__number-phone{
	color: $textColor;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;

	&:before{
		content: '';
		background: url('../img/icon_phone.png') center center no-repeat;
		width: 12px;
		height: 11px;
		margin-right: 6px;
		display: inline-block;
	}
}

.contentblock{
	display: flex;
	align-items: center;
	flex: 1;
}

.contentblock__column-left, .contentblock__column-right{
	width: 50%;
    padding-bottom: 60px;
}

.contentblock__slide-pic-block{
	max-width: 503px;

	.contentblock__slide-pic{
		width: 100%;
		max-width: 100%;	
	}
}



.sheet-first .contentblock__column-left {
    .text{
    	padding-top: 23px;
	}

	p{
		margin-top: 5px;
		width: max-360px;
	}
}

.sheet-first__footer{
	position: absolute;
	bottom: 44px;
	left: 0px;
	display: flex;
	justify-content: start;
}

.sheet-first__natural, .sheet-first__delivery, .sheet-first__figure{
	display: flex;
	width: 178px;
}

.sheet-first__text-natural, .sheet-first__text-delivery, .sheet-first__text-figure{
   	width: 75px;
	color: $textColor;
	font-size: 16px;
	font-weight: 400;
    margin-right: 30px;/*через жопу сделано выравнивание блоков относительно друг друга, sheet-first__footer.nth-child(1n+2) почему то не сработал*/
}

.sheet-first__icon-natural{
	background: url('../img/icon_natural.png') center center no-repeat;
	width: 44px;
    height: 41px;
    display: block;
    margin-right: 8px;
}
.sheet-first__icon-delivery{
	background: url('../img/icon_delivery.png') center center no-repeat;
	width: 50px;
    height: 40px;
    display: block;
    margin-right: 8px;
}
.sheet-first__icon-figure{
	background: url('../img/icon_figure.png') center center no-repeat;
	width: 42px;
    height: 42px;
    display: block;
    margin-right: 8px;
}

.sheet-first__decor1-block{
	display: block;
	position: absolute;
	left: 40px;
	bottom: -50px;
	z-index: 1;
	max-width: 52px;

	.sheet-first__decor1-img{
		max-width: 100%;
	}
}

.sheet-first__decor2-block{
	display: block;
	position: absolute;
	right: 15px;
	width: auto;
	bottom: -50px;
	z-index: 1;
	max-width: 428px;

	.sheet-first__decor2-img{
		max-width: 100%;
	}
}

.sheet-first__decor3-block{
	display: inline-block;
	width: auto;
	position: absolute;
	right: 90px;
	bottom: -40px;
	z-index: 1;
	max-width: 387px;

	.sheet-first__decor3-img{
		max-width: 100%;
	}
}

.sheet-first{
	.btn{
	    padding: 16px 31px 16px 31px;
	    margin: 34px 0px 40px 0px;
	}
}



@media screen and (max-width: 992px){
	.sheet-first__header{
		justify-content: center;
		flex-flow: row wrap;
	}

	.sheet-first__phone{
		text-align: center;
		justify-content: center;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}

@media screen and (max-width: 768px){
/*
	.sheet-first__menu{
	}
	.sheet-first__phone{
	}
*/
	.navigation{
		display: none;
	}

	.sheet-first{
		/*height: 100vh;*/
		min-height: 1025px;
		height: 100%;
		background: url('../img/sheet-wirst-decor.png') $backgroundColor top right no-repeat;
	}

	.sheet-first__header{
		position: relative;
		/*flex: 1 1 93px;*/
		flex-basis: 63px;
		flex-grow: 0;
		flex-shrink: 1;
		align-items: start;
		justify-content: start;
		width: 100%;
		padding: 25px 25px 0px 25px;

		.menu, .sheet-first__phone{
			display: none;
		}
	}
	.sheet-first__contentblock{
		/*flex-flow: row-reverse wrap;*/
		flex-direction: column-reverse;
		/*transform: translateY(30px);*/
		flex-basis: calc(100% - 219px);
		flex-grow: 1;
		flex-shrink: 1;

		.contentblock__column-left, .contentblock__column-right{
			width: 100%;
			height: 100%;
			justify-content: center;
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			padding-bottom: 0px;

			.contentblock__slide-pic-block{
				height: 100%;
				width: auto;

				.contentblock__slide-pic{
					width: auto;
					max-width: auto;

					height: 100%;
					max-height: 100%;
				}
			}

			.text{
				text-align: center;
				max-width: 400px;
				padding-top: 0px;
			}
		}
	}

	.sheet-first__footer{
		position: relative;
		flex-basis: 108px;
		flex-flow: 0;
		flex-shrink: 1;
		bottom: 0;

	}
}