.sheet-chocco{
	width: 100%;
	background-color: #f8faf9;
	min-height: 994px;
	height: 100vh;

	.centered-container{
		max-width: 1040px;

		@include tablets{
			max-width: calc(70% + 70px);
		}

		.slider__items{
			max-width: 940px;
			width: 100%;
			display: flex;
			overflow-x: hidden;
			overflow-y: hidden;
			flex-wrap: nowrap;
			position: relative;
			height: 100%;
			align-items: center;

			@include tablets{
				max-width: 75%;
			}
		}
	}
}


.slider__item{
	display: flex;
	min-width: 100%;
	position: relative;
	transition: left 0.5s;

	@include tablets{
		flex-direction: column;
	}

	@include tablets{
		.contentblock__column-left, .contentblock__column-right{
			margin: 0;
			text-align: center;
		}
	}


	.slider__pict{
		position: relative;
		text-align: center;

		&::after{
			content: '';
			position: absolute;
			background-image: url(../img/sheet-chocco_slider-decor1.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: 100%;
			top: 0;
			z-index: -1;
			bottom: 0;
			left: 0%;

			@include tablets{
				background-position: bottom;
			}

		}
	}

	.slider__slide-img{
		max-width: 90%;
		
	}
	.slider__content{
		
		.header-h1{
			font-size: rem(36px);
			font-weight: 700;
			text-transform: uppercase;
			color: #0d0d0d;
			margin-bottom: rem(40px);
			text-align: left;

			@include tablets{
				text-align: center;
			}
		}

		.slider__desc{
			margin-bottom: rem(40px);
			.slider_name{
				font-size: 24px;
				font-weight: 500;
				color: #323232;
				margin-bottom: rem(20px);
			}

			p{
				font-size: 18px;
				font-weight: 400;
				color: #666666;	
			}

		}

		.slider__param, .slider__price{
			display: flex;
			flex-wrap: wrap;

			@include tablets{
				justify-content: center;
			}
		} 


		.slider_caloria, .slider_weight, .slider__cost, .btn--green{
			width: 50%;
			min-width: 140px;
		}
		
		.slider__param{
			margin-bottom: rem(30px);
		}

		.slider_param-title{
			color: #333333;
			font-size: 18px;
			font-weight: 400;
		}	
		.slider_param-data{
			color: #333333;
			font-size: 18px;
			font-weight: 700;
		}

		.slider__price{
			display: flex;

			.slider__cost{
				color: #0d0d0d;
				font-size: rem(60px);
				font-weight: 300;
				line-height: 60px;
				text-transform: uppercase;
				 
			}	
		}

	}
	

}

.sheet-chocco__arrow{
	position: relative;
}

.slider__left{
	background: url('../img/arrow-scroll_slider.png') center center no-repeat;
	width: 15px;
	height: 29px;
	position: absolute;
	display: block;
	left: 0px;
	cursor: pointer;
	z-index: 110;

	@include tablets{
		top: 25%;
	}
}
.slider__right{
	background: url('../img/arrow-scroll_slider.png') center center no-repeat;
	width: 15px;
	height: 29px;
	transform: translateY(-4px) rotate(180deg);
	position: absolute;
	display: block;
	right: 0;
	cursor: pointer;
	z-index: 110;

	@include tablets{
		top: 25%;
	}
}