.sheet-reviews	{
	width: 100%;
	height: 100vh;
	min-height: 805px;
	position: relative;
	background-color: #fff;
    background-image:  url("../img/reviews-decor3.png");  
    background-position: top 20px right ;
    background-repeat: no-repeat;
}

.sheet-reviews__decor1-block{
	position: absolute;
	bottom: -200px;
	left: 0px;
	z-index: 10;
	width: 134px;
	max-width: 134px;

	.sheet-reviews__decor1{
		widows: 100%;
	}
}

.sheet-reviews__decor2-block{
	position: absolute;
	bottom: -125px;
	left: 0px;
	z-index: 11;
	width: 154px;
	max-width: 154px;

	.sheet-reviews__decor2{
		width: 100%;
	}
}

.sheet-reviews__review{
	margin-top: 50px;
	padding: 40px 140px 40px 40px;
	display: flex;
	background: url('../img/reviews-pict.png') #f8faf9 right top no-repeat;
	position: relative;
}

.sheet-reviews__content{
	padding: 15px;
	flex: 1;
}

.sheet-reviews__title{
	color: $textColorOnWhite;
	font-size: 30px;
	font-weight: 500;

}

.sheet-reviews__text{
	margin-top: 30px;
	color: $textColorOnWhite;
	font-size: 18px;
	font-weight: 400;	
}

.sheet-reviews__name{
	margin-top: 40px;
	color: $textColorOnWhite;
	font-size: 18px;
	font-weight: 500;	
}

.sheet-reviews__peoples{
	display: flex;
	padding-top: 50px;
}

.sheet-reviews__people{
	margin: 0px 15px;
	border-radius: 50%;
	display: flex;
    justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 6px #fff;
	transition: none;
	width: 94px;
	max-width: 94px;

	.sheet-reviews__people-icon{
		width: 100%;
	}
}

.sheet-reviews__active, .sheet-reviews__people:hover{
	
	background-color: #0f5a47;
	box-shadow: 0px 0px 0px 6px #0f5a47;
	cursor: pointer;
}

.sheet-reviews__circle{
    position: absolute;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    top: -60px;
    right: calc(50% - 50px);
    border-radius: 50%;
}

.sheet-reviews__photo-block{
	max-width: 254px;
	width: 254px;
	height: 260px;
	flex: 0 1 254px;

	.sheet-reviews__photo{
		width: 100%;
		height: 100%;
	}
}

