.sheet-first{
	width: 1100px;
	height: 100vh;
	/*min-height: 650px;*/
	height: 650px;
	background-color: $backgroundColor;
	position: relative;
	background: url('/img/uzor.png') $backgroundColor center right no-repeat;
}


.sheet-first__header {
	/*background-color: green;*/
	display: flex; 
	padding-top: 25px;
    /*position: absolute;*/
    align-self: start;
    justify-content: start;
    width: 100%;
}


.sheet-first__logo{
	width: 53px;
    height: 38px;
	color: $textColor;
	font-family: "Museo Sans Cyrl -500";
	font-size: 24px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
	text-decoration: none;
}

.menu{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 45px;
}

.menu__option:nth-child(1n+2){
	margin-left: 27px;
}

.menu__link{
	color: $textColor;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-decoration: none;

	&:hover{
		color: $textColor;
		text-decoration: underline;
	}

}



.sheet-first__phone{
	display: flex;
	margin-left: auto;
	justify-content: flex-start;
	align-items: center;
}

.sheet-first__icon-phone{
	background: url('/img/icon_phone.png') center center no-repeat;
	width: 12px;
    height: 11px;
    margin-right: 6px;	
}

.sheet-first__number-phone{
	color: $textColor;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	margin-right: 51px;
}

.contentblock{
	display: flex;
	align-items: center;
	flex: 1;
}

.contentblock__column-left, .contentblock__column-right{
	width: 50%;
    padding-bottom: 60px;
}

.contentblock__slide-pic{
	max-width: 503px;
}

.sheet-first .contentblock__column-left {
    .text{
    	padding-top: 23px;
	}

	p{
		margin-top: 5px;
		width: 360px;
	}
}

.sheet-first__footer{
	position: absolute;
	bottom: 44px;
	display: flex;
	justify-content: start;
}

.sheet-first__natural, .sheet-first__dostavka, .sheet-first__figura{
	display: flex;
	width: 178px;
}

.sheet-first__text-natural, .sheet-first__text-dostavka, .sheet-first__text-figura{
   	width: 75px;
	color: $textColor;
	font-size: 16px;
	font-weight: 400;
    margin-right: 30px;/*через жопу сделано выравнивание блоков относительно друг друга, sheet-first__footer.nth-child(1n+2) почему то не сработал*/
}

.sheet-first__icon-natural{
	background: url('/img/icon_natural.png') center center no-repeat;
	width: 44px;
    height: 41px;
    display: block;
    margin-right: 8px;
}
.sheet-first__icon-dostavka{
	background: url('/img/icon_dostavka.png') center center no-repeat;
	width: 50px;
    height: 40px;
    display: block;
    margin-right: 8px;
}
.sheet-first__icon-figura{
	background: url('/img/icon_figura.png') center center no-repeat;
	width: 42px;
    height: 42px;
    display: block;
    margin-right: 8px;
}

.sheet-first__listki-one-img{
	display: block;
	position: absolute;
	left: 40px;
	width: auto;
	bottom: -50px;
	z-index: 1;
	max-width: 52px;
}

.sheet-first__listki-right-img{
	display: block;
	position: absolute;
	right: 15px;
	width: auto;
	bottom: -50px;
	z-index: 1;
	max-width: 428px;
}

.sheet-first__yagody-img{
	display: inline-block;
	width: auto;
	position: absolute;
	right: 90px;
	bottom: -40px;
	z-index: 1;
	max-width: 387px;
}

.sheet-first{
	.btn{
	    padding: 16px 31px 16px 31px;
	    margin: 34px 0px 40px 0px;
	}
}