@keyframes flipInX{
    from{
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}


@keyframes menuBounce {
    from {
      flex-basis: 0;
      animation-timing-function: ease-out;
    }
    25% {
        flex-basis: 25%;
        animation-timing-function: ease-in;
    }
    50% {
        flex-basis: 50%;
        animation-timing-function: ease-out;
    }
    75% {
        flex-basis: 75%;
        animation-timing-function: ease-in;
    }
    to {
        flex-basis: 100%;
    }
  }

  @keyframes menuBounceRevers {
    from {
      flex-basis: 100%;
      animation-timing-function: ease;
    }
    25% {
        flex-basis: 75%;
        animation-timing-function: ease;
    }
    50% {
        flex-basis: 50%;
        animation-timing-function: ease;
    }
    75% {
        flex-basis: 25%;
        animation-timing-function: ease;
    }
    to {
        flex-basis: 0%;
    }
  }