.sheet-map{
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    line-height: 1.42;
	background-color: #fff;
	width: 100%;
    position: relative;
    height: 100vh;
    min-height: 500px !important;
    

    .container-map{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    &__container {
      height: 100%;
      width: 100%;
      position: relative;

        @include phones{
            height: 100vh;
        }
      
    }
  
}



